name: 'size'
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  package-size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v4
      - name: Install
        run: |
          npm install -g pnpm
          pnpm install
      - uses: andresz1/size-limit-action@v1.7.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          script: npx size-limit --json
          package_manager: pnpm
          build_script: build
